.paragraph {
  text-align: justify;
  font-size: 1.2rem;
}

.paragraphLink {
  text-decoration: none;
  color: var(--color-main);
  transition: 0.2s;
  cursor: pointer;
}

.paragraphLink:hover {
  color: #256261;
}