html {
  scroll-behavior: smooth;
  height: 100%;
  min-height: 100%;
}
body {
  font-family: var(--font-text);
  background-color: var(--color-bg);
  color: var(--color-text);
}

.page-header {
  text-align: center;
  font-family: var(--font-display);
  font-size: 7rem;
  color: var(--color-main);
}