.card {
  background-color: var(--color-bg);
  border-color: var(--color-main);
}

.cardTitle {
  font-family: var(--font-display);
  color: var(--color-main);
  font-size: 2rem;
}

.linkList {
  list-style-type: none;
  padding-left: 16px
}