.card {
  background-color: var(--color-bg);
  border-color: var(--color-main);
  height: 100%;
}

.cardTitle {
  font-family: var(--font-display);
  color: var(--color-main);
  font-size: 1.5rem;
}

.linkList {
  list-style-type: none;
  padding-left: 16px;
}

.linkList > li > a{
  font-size: 1rem !important;
}