.cardBody {
  background-color: var(--color-bg);
  border-color: var(--color-bg);
  border: none;
}

.card {
  background-color: var(--color-bg);
  border: none;
}

.cardHeader {
  background-color: var(--color-bg);
  border: none;
}

.companyName {
  color: var(--color-main);
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s;
}

.companyName:hover {
  color: var(--color-main-hover);
}

.toggle {
  font-size: 1rem;
}