.cardBody {
  background-color: var(--color-bg);
  border-color: var(--color-bg);
}

.card {
  background-color: var(--color-bg);
}

.companyName {
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 700;
}

.toggle {
  font-size: 1rem;
}